
<br>
<br>
Make your questions/cards here!
<br>
<form class="" action="/deck/{{deck.id}}" method="post">
  <input type="text" name="question" value="" placeholder="What's the question?">
  <input type="text" name="body" value="" placeholder="Answer of question">
  <button type="submit">Make my question</button>
</form>

<br><br>
<div class="cards">
{{#deck}}
<a href="/test/{{id}}">Test Myself!</a>
{{deckName}}<br>
{{#Cards}}
<div class="card">
{{question}}
<a href="/editdelete/{{id}}">Edit and Delete</a><br>
</div>
{{/Cards}}
{{/deck}}
</div>
