<form class="" action="/makedeck" method="post">
  <input type="text" name="deckName" value="" placeholder="Name of Deck">
  <button type="submit"> Make a deck here!</button>
</form>
<br><br>

{{#data}}

<a href="/makecard">Make Cards</a><br>
<a href="/edit">Edit and Delete</a><br>
{{/data}}
