
<br>
<br>
Make your questions/cards here!
<br>
<form class="" action="/deck/{{deck.id}}" method="post">
  <input type="text" name="question" value="" placeholder="What's the question?">
  <input type="text" name="body" value="" placeholder="Answer of question">
  <button type="submit">Make my question</button>
</form>

<br><br>

{{#deck}}
<a href="/test/{{deck.id}}">Test yourself!</a>
{{deckName}}<br>
{{#Cards}}
{{question}}
<a href="/editdelete/{{id}}">Edit and Delete</a><br>
{{/Cards}}
{{/deck}}
