Home Page!
<br>
<hr>
<a href='/makedeck'>Make a deck here</a>
<br>
<br>
<div class="decks">
  Take a look at all of my decks!

{{#data}}
<br>
<br>
Deckname : {{deckName}}<br>
How many Cards? : {{Cards.length}}<br>
<a href="/deck/{{id}}">Check out my deck here</a><br><br>
<a href="/test/{{deckid}}/deck/{{id}}">Take the test on {{deckName}} here!</a><br><br>
{{/data}}

</div>
