<form class="" action="/" method="post">
  <input type="text" name="username" value="" placeholder="username"><br>
  <input type="text" name="password" value="" placeholder="password"><br>
  <button type="submit">Login</button><br><br>
</form>
