<div class="">


<br>
<hr>
{{#data}}
Take the test on {{deckName}} here<br>
<form class="" action="/test/{{id}}}/answer/{{data.Card.id}}" method="get">
{{#arr}}
{{dataValues.question}}<br><br>
<button type="submit">Flip card</button>
{{/arr}}
</form>
<br>
{{/data}}
</div>
